body{
    --quest_color: #f0f;
    --submit_color: #000;
    --main_back: #fff;

    margin: 0;
    padding: 0;
    background-color: var(--quest_color);
    font-size: 2rem;

    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
main{
    background-color: var(--main_back);
    box-shadow: 0 0 5vw 0 #0005;
    margin: -5vh auto 0 auto;
    width: 80vw;

    >div{
        width: 77vw;
        padding: 5vh 1.5vw 5vh 1.5vw;
        outline: .5vw dashed var(--quest_color);
        outline-offset: -1vw;
        text-align: center;
        /* overflow: hidden; */
    }
}
h1{
    background: linear-gradient(transparent 60%, var(--quest_color) 60%, var(--quest_color) 90%, transparent 90%);
    display: inline-block;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.button{
    display: inline-block;
    margin: 1rem 0;
    padding: 0 .5rem;
    background-color: #000;
    color: var(--main_back);
    transition: background-color .1s, color .1s;
    cursor: pointer;
}
#submit::before{
    content: "Guess!";
}
#retry::before{
    content: "Retry!";
}
.button:hover{
    background-color: var(--quest_color);
}
.button:active{
    background-color: var(--main_back);
    color: var(--quest_color);
}
#question{
    display: block;
    margin: 0 auto;
    padding: 0;
    aspect-ratio: 1/1;
    width: 40%;
    background-color: var(--quest_color);
}
#ranges{
    display: grid;
    >div{
        grid-area: 1 / 1;
    }
}
#range_ans{
    display: none;
    z-index: -10;
}
#range_ans>input::-webkit-slider-thumb{
    box-shadow: 0 0 0 .2rem #555;
}
input{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 999999px;
    
    width: 40%;
    display: block;
    margin: 1rem auto;
}
input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--main_back);
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
#red{
    background: #f00;
}
#red::-webkit-slider-thumb{
    box-shadow: 0 0 0 .2rem #f00;
}
#green{
    background: #0f0;
}
#green::-webkit-slider-thumb{
    box-shadow: 0 0 0 .2rem #0f0;
}
#blue{
    background: #00f;
}
#blue::-webkit-slider-thumb{
    box-shadow: 0 0 0 .2rem #00f;
}

#ans_div{
    display: none;
    width: 40%;
    margin: 0 auto;
}
#ans_color{
    background: linear-gradient(90deg, var(--quest_color) 50%, var(--submit_color) 50%);
    aspect-ratio: 4/1;
    margin: 0 auto 0 auto;
}
#result{
    display: grid;
    grid-template: 
        "a b" auto
        "c d" auto
        "e e" auto
        /1fr 1fr;
    p{
        margin: 0;
    }
    >div{
        display: grid;
        grid-template: 
            "f g h" auto
            "i i i" auto
            /1fr 1fr 1fr;
    }
}
#r_def::before{
    content: "R:";
}
#g_def::before{
    content: "G:";
}
#b_def::before{
    content: "B:";
}
#point::after{
    content: "Point";
}
footer{
    height: 10rem;
    width: 80vw;
    margin: 0 auto;
    background-color: #0005;
    text-align: center;
    align-content: center;
    >p,a{
        color: var(--main_back);
        margin: 0;
    }
}